/**
  * Divider Theme: default
  */

.am-divider-default {
  $divider-bg-color:  #ddd !default;

  height: 1px;
  border: none;
  margin: 1.5rem auto;
  overflow: hidden;
  background-color: $divider-bg-color;
  clear: both;

  // @include hook-am-divider-default();
}

// @mixin hook-am-divider-default(){}
